<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ data?.name }}</mat-card-title>
    <mat-card-subtitle>{{ data?.office }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ data?.imageUrl }}" alt="Photo of: {{ data?.name }}">
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <mat-icon aria-hidden="false">home</mat-icon>
    <mat-icon aria-hidden="false">home</mat-icon>
    <mat-icon aria-hidden="false">linkedin</mat-icon>
  </mat-card-actions>
</mat-card>
