.card {
  width: 200px;
  // margin: 16px auto;
  // display: flex;
  // margin: 0 auto; // för listan
  padding: 16px;
}

// .mat-card-image {
//   width: calc(100% - 32px);
//   margin: 0 -16px 16px -16px;
// }

mat-icon {
  padding: 8px;
}

.link-image {
  height: 100%;
  width: 100%;
}
