<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Name</mat-card-title>
    <mat-card-subtitle>Office</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://www.cnet.com/a/img/dGLoSSBoZyqv3nrKZ2AEAW5vduc=/1092x0/2014/12/01/89601d70-ca65-4dc7-adfe-f6dbd46d05ba/hobbit-lotr-5-armies-gandalf-hat.jpg"
    alt="Photo of a Shiba Inu">
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <mat-icon aria-hidden="false">home</mat-icon>
    <mat-icon aria-hidden="false">home</mat-icon>
    <mat-icon aria-hidden="false">linkedin</mat-icon>
  </mat-card-actions>
</mat-card>
