mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 10;
}

.searchbar {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.main-content {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 64px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
